body {
  /* background: #fcfbff url("Images/Background (1).svg") no-repeat;
  background-size: cover; */
  font-family: "Poppins", sans-serif;
}

.banner-image {
  background-image: url("Images/Background (1).svg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* Navbar */
nav {
  margin-left: 60px;
  margin-right: 60px;
  position: relative;
}

.navbar-transparant {
  background-color: transparent !important;
  /* backdrop-filter: blur(10px); */
}

/* Hamburger Navbar */
.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
  position: relative;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #6f42c1;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

.navbar-toggler.collapsed .top-bar {
  position: absolute;
  top: 0px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  position: absolute;
  top: 10px;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  position: absolute;
  top: 20px;
  transform: rotate(0deg);
}

/* when navigation is clicked */
.navbar-toggler .top-bar {
  top: inherit;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  top: inherit;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  top: inherit;
  transform: rotate(-135deg);
}

/*  */

.navbar-brand {
  font-size: 40px;
  font-family: "Maitree", serif;
  font-weight: 700;
  color: white;
}

/* Logo Container */
.logo-container {
  display: flex;
  align-items: center;
}

/* Logo */
.logo {
  max-width: 100%;
  transition: max-width 0.5s ease;
}

/* Brand Text */
.brand-text {
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/*  */
.navbar-nav .nav-link {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.nav-item:not(:last-child) {
  margin-right: 24px;
}

a.nav-link.text-black {
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
}

.nav-link-outline {
  display: flex;
  width: 88px;
  height: 32px;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  border: 2px solid #6f42c1;
  color: #6f42c1;
  border-radius: 36px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link-outline:hover {
  background-color: #6f42c1;
  color: #ffffff;
}

/* Navbar */
@media (max-width: 991px) {
  .nav-item:not(:last-child) {
    margin-right: 0px;
  }

  .logo {
    max-width: 70%;
  }

  .brand-text {
    opacity: 0;
    transform: translateX(-100%);
    margin-left: 60px;
    transition: opacity 0.5s ease, transform 0.5s ease, margin-left 0.5s ease;
  }

  a.nav-link.text-black {
    width: 100%;
  }

  .nav-link-outline {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .brand-text {
    display: none;
  }
}