/* Body color */
body {
  background-color: #fcfbff;
}

/* Body Margin */
@media (min-width: 1093px) {
  .header-one {
    margin-left: 60px;
    margin-right: 60px;
  }

  .banner {
    margin-left: 60px;
    margin-right: 60px;
  }

  .footer {
    margin-left: 60px;
    margin-right: 60px;
  }

  .faq {
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .header-one {
    margin-left: 30px;
    margin-right: 30px;
  }

  .banner {
    margin-left: 30px;
    margin-right: 30px;
  }

  .footer {
    margin-left: 30px;
    margin-right: 30px;
  }

  .faq {
    margin-left: 30px;
    margin-right: 30px;
  }
}

/* Background Purple */
.background-purple {
  background-color: #e6deff;
}

/* Navbar */
.container-fluid {
  padding-top: 22px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

/* Hamburger Navbar */
.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
  position: relative;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #6f42c1;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

/* State when the navbar is collapsed */
.navbar-toggler.collapsed .top-bar {
  position: absolute;
  top: 0px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  position: absolute;
  top: 10px;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  position: absolute;
  top: 20px;
  transform: rotate(0deg);
}

/* when navigation is clicked */
.navbar-toggler .top-bar {
  top: inherit;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  top: inherit;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  top: inherit;
  transform: rotate(-135deg);
}

/* Color of 3 lines */
.navbar-toggler.collapsed .toggler-icon {
  background: linear-gradient(
    263deg,
    rgba(90, 50, 163, 1) 0%,
    rgba(240, 20, 205, 0.2) 100%
  );
}

/* Logo */
.navbar-brand {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.logo-container img,
.logo-container .brand-text {
  height: 34px;
}

/* Logo's Name */
.logo-container {
  display: flex;
  align-items: center;
}

.brand-text {
  display: flex;
  align-items: center;
  margin-left: 8px;

  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 40px;
  font-style: italic;

  background: linear-gradient(
    90deg,
    rgba(90, 50, 163, 1),
    rgba(240, 20, 205, 0.2)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Logo's Name Animation */
.brand-text {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1.2s ease, transform 1.2s ease;
}

/* Animasi saat layar diperkecil */
@media (max-width: 767px) {
  .brand-text {
    opacity: 0;
    transform: translateX(-100%);
  }
}

/* Animasi saat layar diperbesar kembali */
@media (min-width: 768px) {
  .brand-text {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Brand-text hilang */
@media (max-width: 600px) {
  .brand-text {
    display: none;
  }
}

/* Nav-link text */
.nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;

  text-align: center;
}

/* Button nav link text */
.nav-link-outline {
  display: flex;
  width: 88px;
  height: 32px;

  justify-content: center;
  align-items: center;

  padding: 16px 24px;
  border: 2px solid #6f42c1;
  color: #6f42c1;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link-outline:hover {
  background-color: #6f42c1;
  color: #ffffff;
}

/* Lembaga */
.nav-item:not(:last-child) {
  margin-right: 24px;
}

a.nav-link.text-black.lembaga {
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
}

/* Div container list navbar */
.collapse.navbar-collapse.justify-content-end {
  max-width: 312px;
}

@media (max-width: 991px) {
  /* .nav-item:not(:last-child) {
    margin-right: 0px;
  } */

  a.nav-link.text-black.lembaga {
    width: auto;
  }

  .nav-link-outline {
    width: auto;
  }

  .collapse.navbar-collapse.justify-content-end {
    max-width: none;
  }
}

/* Hover Click Navbar */
.nav-link:hover {
  text-decoration: underline;
}

.nav-link.nav-link-outline:hover {
  text-decoration: none;
}

/* Navbar-container that ofset */
@media (max-width: 1159px) {
  .nav-item:not(:last-child) {
    margin-right: 0px;
  }
}

/* Banner */

/* Text Banner */
.container-typing-text {
  padding-top: 70px;
  overflow: hidden;
  width: 578px;
}

.text-first {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 800;

  text-align: left;
}
.text-second {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 300;

  text-align: left;
}

.text-first .content-cemerlang {
  background: linear-gradient(
    180deg,
    rgba(90, 50, 163, 1),
    rgba(185, 86, 201, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Typing text banner */
/* .container-typing-text {
    display: inline-block;
}
.text-first {
  overflow: hidden;
  border-right: 0.15em solid white;
  white-space: nowrap;
  animation: typing 3.5s steps(40, end) forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} */

/* Float In Text Banner */
.text-first {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

@keyframes floatIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Relative text-banner before typing animation */
@media (min-width: 768px) and (max-width: 992px) {
  .text-first {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .container-typing-text {
    width: auto;
  }

  .text-first {
    font-size: 20px;
  }
}

/* Image Graduation */
.graduation-center {
  text-align: center;
  justify-content: center;
}

.Graduation {
  width: 550px;
}

@media (max-width: 1360px) {
  .container-typing-text {
    padding-top: 40px;
  }

  .Graduation {
    width: 304px;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .container-typing-text {
    padding-top: 20px;
  }

  .Graduation {
    width: 184px;
  }
}

@media (max-width: 576px) {
  .container-typing-text {
    padding-top: 5px;
  }

  .col-sm-4 .graduation-center {
    display: none;
  }

  .Graduation {
    display: none;
  }
}

.button-search {
  background-color: #6f42c1;
  color: white;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;

  margin-bottom: 50px;
  border-radius: 10px;
  height: 42px;
  min-width: 80.32px;
  width: 180px;
  height: 60px;
  flex-shrink: 0;
}

.button-search:hover {
  color: #f5f0ff;

  background-color: #8a63d2;
}

.button-search:focus {
  background-color: #6f42c1;
}

/* Tombol */
.tombol {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.tombol .row {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;

  padding-bottom: 0.5%;
}

@media (min-width: 576px) and (max-width: 992px) {
  .tombol {
    padding-top: 40px;
  }
}

@media (max-width: 576px) {
  .tombol {
    padding-top: 20px;
  }
}

.cont-cards {
  padding: 50px 0 50px 0;
  
}

.card {
  width: auto;
  border-radius: 10px;
  border: none;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  margin-bottom: 20px;
}
.card:hover{
  box-shadow: 0 50px 90px rgba(0, 0, 0, 0.18);
}

.card-img-top {
  width: 200px;
  height: 180px;
  margin-left: 20px;
}

.card-text {
  text-align: left;
  color: #352b53;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
  margin-left: 20px;
  margin-right: 20px;
}

.card-text2 {
  text-align: left;
  color: #352b53;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.25px;
  margin-left: 20px;
  margin-right: 20px;
}

/* ADS Section */
.cont-ads{
  padding-left: 0;
  padding-right: 0;
  display: flex;
  margin-bottom: 50px;
}
.image-ads {
  width: auto;
}
.ads-body {
  text-align: left;
  font-family: Poppins;
}
.text-ads {
  color: #352b53;
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -0.25px;
}
.text-ads2 {
  color: #352b53;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.25px;
}

/* FAQ */
.title-faq1 {
  font-family: "Poppins", sans-serif;
  font-size: 44px;
  font-weight: 700;

  color: #2d1d61;

  text-align: center;
  align-items: center;

  padding-bottom: 4%;
}

/* Accordion box */
.accordion-button {
  height: 100px;

  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;

  color: #1b1139;

  border: 1px solid #f3f4fe;
}

/* Accordion button */
.accordion-button::after {
  background-image: url("Images/plus.svg");
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;

  transition: all 0.5s;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("Images/minus.svg");
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
}

/* Accordion Body */
.accordion-body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;

  color: #736f80;
  letter-spacing: 0.1px;

  margin-top: 5%;
  margin-bottom: 5%;
}

/* Padding Acc */
.accordion {
  padding-top: 15px;
}

/* Responsive accordion */
@media (min-width: 768px) and (max-width: 992px) {
  .accordion-button {
    font-size: 16px;
    height: 80px;
  }

  .accordion-body {
    font-size: 14px;
  }

  .accordion {
    padding-top: 10px;
  }

  .title-faq1 {
    font-size: 40px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .accordion-button {
    font-size: 14px;
    height: auto;
  }

  .accordion-body {
    font-size: 12px;
  }

  .accordion {
    padding-top: 7px;
  }

  .title-faq1 {
    font-size: 36px;
  }
}

@media (max-width: 576px) {
  .accordion-button {
    font-size: 12px;
    height: auto;
  }

  .accordion-body {
    font-size: 10px;
  }

  .accordion {
    padding-top: 5px;
  }

  .acc-bottom {
    padding-top: 5px;
  }

  .title-faq1 {
    font-size: 32px;
  }
}

/* Tertarik */
.tertarik {
  padding-top: 115px;
  padding-bottom: 115px;
  background-color: #f4f1ff;
  background-image: url("Images/tertarik-mask.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.button-ttr {
  padding-top: 60px;
}

/* Tertarik isi */
.tertarik-title-container {
  max-width: 612px;
  margin: 0 auto;
}

.tertarik-title {
  font-family: "Poppins", sans-serif;
  font-size: 38px;
  font-weight: 600;

  color: #2d1d61;

  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

/* Button */
.btn-hubungi {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;

  color: #fff;

  text-align: center;

  background-color: #7951f9;
  border-radius: 10px;
  box-shadow: 0px 0px 70px rgba(65, 24, 161, 0.25);
  border: none;

  width: 252px;
  height: 74px;
}

.btn-hubungi:hover {
  background-color: #7951f9;
  color: #f9fbff;
}

.btn-hubungi:active {
  transform: scale(0.96);
}

/* Responsive Tertarik */
@media (min-width: 768px) and (max-width: 992px) {
  .tertarik-title {
    font-size: 34px;
  }

  .btn-hubungi {
    font-size: 16px;
    width: 227px;
    height: 59px;

    border-radius: 8px;
  }

  .tertarik {
    padding-top: 95px;
    padding-bottom: 95px;
  }

  .button-ttr {
    padding-top: 50px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .tertarik-title {
    font-size: 30px;
  }

  .btn-hubungi {
    font-size: 16px;
    width: 227px;
    height: 59px;

    border-radius: 8px;
  }

  .tertarik {
    padding-top: 85px;
    padding-bottom: 85px;
  }

  .button-ttr {
    padding-top: 40px;
  }
}

@media (max-width: 576px) {
  .tertarik-title {
    font-size: 26px;
  }

  .btn-hubungi {
    font-size: 14px;
    width: auto;
    height: 49px;

    padding-left: 10%;
    padding-right: 10%;

    border-radius: 6px;
  }

  .tertarik {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .button-ttr {
    padding-top: 30px;
  }
}

/* footer */
footer {
  /* margin-top: 4em; */
  border-top: 2px solid #e7e7e7;
}

.pencari-lomba {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;

  color: #000;

  padding-left: 46px;
}

.logo-black {
  width: 47px;
}

.pencari-lomba-alamat {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;

  color: #625f5f;

  padding-left: 93px;
  margin-top: -3%;

  justify-content: left;
  text-align: left;
}

/* Kolom kedua */
.perusahaan-judul,
.beasiswa-judul {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;

  color: #000;
}

.perusahaan-text,
.beasiswa-text {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;

  color: #000;
  text-decoration: none;

  line-height: 24px;
}

/* Sosial Media */
.sosmed {
  padding-right: 26px;
}

.image-sosmed {
  width: 30px;
}

/* Copyright */
.Copyright {
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;

  color: #8d9198;

  text-align: left;
  justify-content: left;
}

/* Space col */
.foot {
  padding-top: 2%;
  /* padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-left: 0; */
}

.foot-copy {
  padding-top: 6%;
  /* padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-left: 0; */
}

/* Responsive footer */
@media (min-width: 768px) and (max-width: 992px) {
  .pencari-lomba {
    font-size: 16px;
    padding-left: 24px;
  }

  .logo-black {
    width: 37px;
  }

  .pencari-lomba-alamat {
    font-size: 10px;
    padding-left: 61px;
  }

  .perusahaan-judul,
  .beasiswa-judul {
    font-size: 14px;
  }

  .perusahaan-text,
  .beasiswa-text {
    font-size: 12px;
  }

  .sosmed {
    padding-right: 22px;
  }

  .image-sosmed {
    width: 26px;
  }

  .Copyright {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .pencari-lomba {
    font-size: 12px;
    padding-left: 12px;
  }

  .logo-black {
    width: 27px;
  }

  .pencari-lomba-alamat {
    font-size: 7px;
    padding-left: 39px;
  }

  .perusahaan-judul,
  .beasiswa-judul {
    font-size: 12px;
  }

  .perusahaan-text,
  .beasiswa-text {
    font-size: 10px;
  }

  .sosmed {
    padding-right: 18px;
  }

  .image-sosmed {
    width: 22px;
  }

  .Copyright {
    font-size: 11px;
  }
}
