/* Body color */
body {
  background-color: #fcfbff;
}

/* Body Margin */
@media (min-width: 1093px) {
  .header-one {
    margin-left: 60px;
    margin-right: 60px;
  }

  .banner {
    margin-left: 60px;
    margin-right: 60px;
  }

  .footer {
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .header-one {
    margin-left: 30px;
    margin-right: 30px;
  }

  .banner {
    margin-left: 30px;
    margin-right: 30px;
  }

  .footer {
    margin-left: 60px;
    margin-right: 60px;
  }
}

/* Background Purple */
.background-purple {
  background-color: #e6deff;
}

/* Navbar */
.container-fluid {
  padding-top: 22px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

/* Hamburger Navbar */
.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
  position: relative;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #6f42c1;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

/* State when the navbar is collapsed */
.navbar-toggler.collapsed .top-bar {
  position: absolute;
  top: 0px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  position: absolute;
  top: 10px;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  position: absolute;
  top: 20px;
  transform: rotate(0deg);
}

/* when navigation is clicked */
.navbar-toggler .top-bar {
  top: inherit;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  top: inherit;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  top: inherit;
  transform: rotate(-135deg);
}

/* Color of 3 lines */
.navbar-toggler.collapsed .toggler-icon {
  background: linear-gradient(
    263deg,
    rgba(90, 50, 163, 1) 0%,
    rgba(240, 20, 205, 0.2) 100%
  );
}

/* Logo */
.navbar-brand {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.logo-container img,
.logo-container .brand-text {
  height: 34px;
}

/* Logo's Name */
.logo-container {
  display: flex;
  align-items: center;
}

.brand-text {
  display: flex;
  align-items: center;
  margin-left: 8px;

  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 40px;
  font-style: italic;

  background: linear-gradient(
    90deg,
    rgba(90, 50, 163, 1),
    rgba(240, 20, 205, 0.2)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Logo's Name Animation */
.brand-text {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1.2s ease, transform 1.2s ease;
}

/* Animasi saat layar diperkecil */
@media (max-width: 767px) {
  .brand-text {
    opacity: 0;
    transform: translateX(-100%);
  }
}

/* Animasi saat layar diperbesar kembali */
@media (min-width: 768px) {
  .brand-text {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Brand-text hilang */
@media (max-width: 600px) {
  .brand-text {
    display: none;
  }
}

/* Nav-link text */
.nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;

  text-align: center;
}

/* Button nav link text */
.nav-link-outline {
  display: flex;
  width: 88px;
  height: 32px;

  justify-content: center;
  align-items: center;

  padding: 16px 24px;
  border: 2px solid #6f42c1;
  color: #6f42c1;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link-outline:hover {
  background-color: #6f42c1;
  color: #ffffff;
}

/* Lembaga */
.nav-item:not(:last-child) {
  margin-right: 24px;
}

a.nav-link.text-black.lembaga {
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
}

/* Div container list navbar */
.collapse.navbar-collapse.justify-content-end {
  max-width: 312px;
}

@media (max-width: 991px) {
  /* .nav-item:not(:last-child) {
    margin-right: 0px;
  } */

  a.nav-link.text-black.lembaga {
    width: auto;
  }

  .nav-link-outline {
    width: auto;
  }

  .collapse.navbar-collapse.justify-content-end {
    max-width: none;
  }
}

/* Hover Click Navbar */
.nav-link:hover {
  text-decoration: underline;
}

.nav-link.nav-link-outline:hover {
  text-decoration: none;
}

/* Navbar-container that ofset */
@media (max-width: 1159px) {
  .nav-item:not(:last-child) {
    margin-right: 0px;
  }
}

/* Banner */

/* Text Banner */
.container-typing-text {
  padding-top: 70px;
  overflow: hidden;
  width: 578px;
}

.text-first {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 600;

  text-align: left;
}

.text-first .content-cemerlang {
  background: linear-gradient(
    180deg,
    rgba(90, 50, 163, 1),
    rgba(185, 86, 201, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Typing text banner */
/* .container-typing-text {
    display: inline-block;
}
.text-first {
  overflow: hidden;
  border-right: 0.15em solid white;
  white-space: nowrap;
  animation: typing 3.5s steps(40, end) forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} */

/* Float In Text Banner */
.text-first {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

@keyframes floatIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Relative text-banner before typing animation */
@media (min-width: 768px) and (max-width: 992px) {
  .text-first {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .container-typing-text {
    width: auto;
  }

  .text-first {
    font-size: 20px;
  }
}

/* Image Graduation */
.graduation-center {
  text-align: center;
}

.Graduation {
  width: 424px;
}

@media (max-width: 1360px) {
  .container-typing-text {
    padding-top: 40px;
  }

  .Graduation {
    width: 304px;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .container-typing-text {
    padding-top: 20px;
  }

  .Graduation {
    width: 184px;
  }
}

@media (max-width: 576px) {
  .container-typing-text {
    padding-top: 5px;
  }

  .col-sm-4 .graduation-center {
    display: none;
  }

  .Graduation {
    display: none;
  }
}

/* Search Bar */
.beasiswa-search,
.lokasi-search {
  height: 42px;
  max-width: 380px;
  border-radius: 10px;

  padding-left: 40px;

  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 10px center;

  border: 1px solid #6f42c1;
}

.beasiswa-search {
  background-image: url("Images/search.svg");
  max-width: 448px;
}

.lokasi-search {
  background-image: url("Images/location.svg");
  max-width: 200px;
}

.beasiswa-search::placeholder,
.lokasi-search::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #9ea2b3;
}

.btn-search {
  background-color: #6f42c1;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;

  border-radius: 10px;
  height: 42px;
  min-width: 80.32px;

  border: none;
}

.btn-search:hover {
  color: #f5f0ff;
  background-color: #6f42c1;
}

.btn-search:active {
  transform: scale(0.96);
}

/* Tombol */
.tombol {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.tombol .row {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;

  padding-bottom: 0.5%;
}

@media (min-width: 576px) and (max-width: 992px) {
  .tombol {
    padding-top: 40px;
  }
}

@media (max-width: 576px) {
  .tombol {
    padding-top: 20px;
  }
}

/* tombol beasiswa */
.beasiswa-non-yayasan,
.beasiswa-yayasan {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;

  text-align: center;
  color: #000;

  padding-left: 50px;
  padding-right: 50px;

  position: relative;
  text-decoration: none;
}

.beasiswa-non-yayasan:hover,
.beasiswa-yayasan:hover {
  color: #09090a;
  font-weight: 600;
}

.beasiswa-non-yayasan::after,
.beasiswa-yayasan::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 3px;
  background-color: #5a32a3;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.beasiswa-non-yayasan:hover::after,
.beasiswa-yayasan:hover::after {
  transform: scaleX(1);
}

.beasiswa-non-yayasan:active::after,
.beasiswa-yayasan:active::after {
  transform: scaleX(1);
}

.beasiswa-non-yayasan:active:hover::after,
.beasiswa-yayasan:active:hover::after {
  transform: scaleX(1);
}

.beasiswa-non-yayasan:active:focus::after,
.beasiswa-yayasan:active:focus::after {
  transform: scaleX(1);
}

/* Sort List */
.drop-down {
  margin-left: 70px;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  width: max-content;
}
.drop-down img{
  width: 16px;
  height: 20px;
  padding-top: 3px;
  align-items: center;
}
.inner-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 8px;
}
.list{
  color: #8B8A8A;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.25px;
}
.icon:hover{
  color: #B392F0;
}
.drop-down-list {
  z-index: 2; 
  position: absolute;
  width: 120px;
  padding: 8px 0;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-size: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  margin: 20px 25px;
  display: none;
}
.drop-down-list li {
  list-style: none;
  height: 100%;
  padding: 8px 16px;
  font-weight: 400;
  cursor: pointer;
  color: #000;
}
.drop-down:hover .drop-down-list {
  display: block;
}
.drop-down-list li:hover {
  background: #8A63D2;
  color: white;
  border-radius: 8px;
}
a {
  text-decoration: none;
}

/* Card */
.card-comp {
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 50px;
}
.card {
  height: max-content;
  margin-top: 20px;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
  border: none;
}

/* Top Section */
.top-sec {
  display: flex;
  justify-content: space-between;
}
.pic-section img {
  width: 65px;
  height: 65px;
}
.desc {
  margin-left: 10px;
}
.name-beasiswa {
  color: #000;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.25px;
  margin-bottom: 8px;
  margin-right: auto;
}
.comp-yayasan {
  display: flex;
  align-items: center;
}
.comp-yayasan img {
  width: 12px;
  height: 12px;
}
.yayasan p {
  color: #000;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: -0.25px;
  margin-left: 5px;
  max-width: 100%;
  margin-bottom: auto;
}

/* Responsive Top Section */
@media (max-width: 992px) {
  .card-comp {
    margin-left: 16px;
    margin-right: 16px;
  }
  .pic-section img {
    width: 55px;
    height: 55px;
  }
  .desc {
    margin-left: 7px;
  }
  .drop-down {
      margin-left: 26px;
      margin-right: 26px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .name-beasiswa {
    font-size: 10px;
  }
  .yayasan p {
    font-size: 8px;
    margin-left: 3px;
    line-height: 15px;
  }
  .comp-yayasan img {
    width: 10px;
    height: 10px;
  }
}
@media (max-width: 767px) {
  .name-beasiswa {
    font-size: 12px;
  }
  .yayasan p {
    font-size: 9px;
    margin-left: 3px;
    line-height: 15px;
  }
  .comp-yayasan img {
    width: 10px;
    height: 10px;
  }
}
.bookmark {
  margin-left: auto;
  cursor: pointer;
  color: #8b8a8a;
}
.bookmark:hover {
  color: #6f42c1;
}
.bg-bookmark {
  padding-left: 5px;
  padding-right: 5px;
}
.bg-bookmark:hover {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  background: #f5f0ff;
  display: block;
}
hr {
  border-width: 2px;
  margin-top: 7px;
  margin-bottom: 7px;
}

/* Buttom Section */
.category {
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  background: #e7e7e7;
  color: #625f5f;
  font-family: Poppins;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  width: auto;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.det-cat {
  display: block;
  color: var(--Primary-50-Main, #6f42c1);
  font-size: 9px;
  padding: 0;
  width: fit-content;
}
.daftar {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.btn-daftar {
  float: left;
}
.btn-dft {
  border-radius: 5px;
  background: var(--Primary-50-Main, #6f42c1);
  width: 70px;
  height: 24px;
  justify-content: center;
  align-items: center;
  color: #f9fbff;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  padding: 0;
  border: none;
}
.btn-dft:hover {
  background: #8a63d2;
  color: #f9fbff;
}
.btn-dft:active {
  transform: scale(0.96);
}
.comp-dealine {
  float: right;
  align-items: center;
  justify-content: center;
  display: flex;
}
.icon-clock {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
}
.time {
  color: var(--Primary-60, #5a32a3);
  font-family: Poppins;
  font-size: 9px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -0.25px;
}
/* Responsive Buttom Section */
@media (min-width: 768px) and (max-width: 890px) {
  .category:nth-child(2) {
    display: none;
  }
}

/* footer */
footer {
  margin-top: 4em;
  border-top: 2px solid #E7E7E7;
}

.pencari-lomba {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;

  color: #000;

  padding-left: 46px;
}

.logo-black {
  width: 47px;
}

.pencari-lomba-alamat {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;

  color: #625f5f;

  padding-left: 93px;
  margin-top: -3%;

  justify-content: left;
  text-align: left;
}

/* Kolom kedua */
.perusahaan-judul,
.beasiswa-judul {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;

  color: #000;
}

.perusahaan-text,
.beasiswa-text {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;

  color: #000;
  text-decoration: none;

  line-height: 24px;
}

/* Sosial Media */
.sosmed {
  padding-right: 26px;
}

.image-sosmed {
  width: 30px;
}

/* Copyright */
.Copyright {
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;

  color: #8D9198;

  text-align: left;
  justify-content: left;
}

/* Space col */
.foot {
  padding-top: 2%;
  /* padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-left: 0; */
}

.foot-copy {
  padding-top: 6%;
  /* padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-left: 0; */
}

/* Responsive footer */
@media (min-width: 768px) and (max-width: 992px) {
  .pencari-lomba {
    font-size: 16px;
    padding-left: 24px;
  }

  .logo-black {
    width: 37px;
  }

  .pencari-lomba-alamat {
    font-size: 10px;
    padding-left: 61px;
  }

  .perusahaan-judul,
  .beasiswa-judul {
    font-size: 14px;
  }

  .perusahaan-text,
  .beasiswa-text {
    font-size: 12px;
  }

  .sosmed {
    padding-right: 22px;
  }

  .image-sosmed {
    width: 26px;
  }

  .Copyright { 
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .pencari-lomba {
    font-size: 12px;
    padding-left: 12px;
  }

  .logo-black {
    width: 27px;
  }

  .pencari-lomba-alamat {
    font-size: 7px;
    padding-left: 39px;
  }

  .perusahaan-judul,
  .beasiswa-judul {
    font-size: 12px;
  }

  .perusahaan-text,
  .beasiswa-text {
    font-size: 10px;
  }

  .sosmed {
    padding-right: 18px;
  }

  .image-sosmed {
    width: 22px;
  }

  .Copyright { 
    font-size: 11px;
  }
}